/* 下载列表 */
.download, .download-header, .download-body { position: absolute; left: 0; right: 0; }
.download { top: 0; bottom: 0; background-color: #fff; }
.download-header { top: 0; padding: 10px; height: 50px; }
.download-body { bottom: 0; top: 51px; overflow: auto; }
.download-table-td0 { width: 20%; }
.download-table-td1 { width: 25%; }
.download-table-td2 { width: 45%; }
.download-table-td3 { width: 10%; }
.download-progressBox { padding-right: 50px; }
.download-progress { width: 100%; background-color: #fcbeff; }
.download-progressNumber { margin-right: -50px; }