html, body, .index-app { width: 100%; height: 100%; overflow: hidden; }
.index-tools, .index-dataBox { position: absolute; left: 0; right: 0; }
.index-icon { margin-right: 3px; vertical-align: -1px; }
/* 顶部工具栏 */
.index-tools { top: 0;  padding: 10px; height: 50px;
    background-color: #efefef; box-shadow: 0 2px 12px #ccc; }
/* 表格显示数据 */
.index-dataBox { bottom: 0; top: 55px; overflow: auto; }
.index-table>thead>tr>th, .index-table>tbody>tr>td { vertical-align: middle; }
.index-table-td0 { width: 10%; }
.index-table-td1 { width: 20%; }
.index-table-td2 { width: 35%; }
.index-table-td3 { width: 20%; }
.index-table-td4 { width: 15%; }
.index-searchGroup .index-searchInput { width: 200px; }
/* 弹出层 */
.index-layout { position: fixed; z-index: 1; top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, .8); }
/* 视频展示 */
.index-videoBox, .index-videoClose { position: absolute; top: 0; bottom: 0; }
.index-videoBox { left: 0; z-index: 2; }
.index-videoClose { right: 0; padding: 10px; z-index: 3; }
.index-videoData { padding: 10px; font-size: 16px; }
.index-videoData h4, .index-videoData { color: #fff; }
.index-videoData h4 { font-size: 20px; }

    /* loading */
.index-loadingText { position: absolute; left: 0; right: 0; top: 50%; margin-top: -45px; height: 50px;
    font-size: 16px; color: #fff; }
.index-loadingIcon { width: 50px; height: 50px; fill: #fff; animation-name: loading; animation-duration: 3s;
    animation-timing-function: linear; animation-iteration-count: infinite; }
@keyframes loading { from { transform: rotate(0deg); } to { transform: rotate(359deg); } }
.index-tishi { margin-left: 10px; vertical-align: 18px; }
