<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<body>
<div id="ReactBody"></div>
<script>
    window._shareData = {
        'reviewList': [],         // 数据
        'downloadList': [],       // 下载列表
        'startTime': 0,           // 更新时间,
        'fileSizeMap': new Map(), // 记录文件大小
        'chromeCallback': null    // 谷歌事件的回调函数
    };
</script>
<script src="../script/common/nodeRequire.js"></script>
<script src="../script/dist/vendor.js"></script>
<script src="../script/dist/router.js"></script>
</body>
</html>